@charset "UTF-8";

/*todas as demais medias*/

/* typical device breakpoint
-----------------------------
Mobile: 812
Tablet: 1024
Laptop: 1366 x 768
High-res laptop or desktop: 1920 x 1080

*/ 


@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagen/back-tablet.jpg);
    }

    #tel { display: none; }
    #tab { display: block; }
    #pc { display: none; }
    #tv { display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagen/back-pc.jpg);
    }

    main {
        width: 500px;
    }

    #tel{ display: none; }
    #tab { display: none; }
    #pc { display: none; }
    #tv {display: block; }
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagen/back-tv.jpg);
    }

    main {
        width: 600px;
    }

    #tel{ display: none; }
    #tab { display: none; }
    #pc { display: none; }
    #tv {display: block; }
}